{% extends 'users/admin/admin_home.html' %}
{% block content2 %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" data-whatever="@Admin">Add Admin</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@Emloyee">Add Employee</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Add Customer</button>

{% block adduser %}



{% endblock adduser %}

{% endblock content2 %}